*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
    background-color: black;
    color: #fcfcfc;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
}

@font-face{
    font-family: "WarnockPro-Light";
    src: url('../css/fonts/WarnockPro-Light.otf'),
 
}

p {

    padding: 0;
    margin: 0;
}

h2 {
  color: white !important;
}
 
/*Navigation css*/

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

.font-inc {

    font-size: 17px; /*override body font size and style*/
    font-family: 'Lato', sans-serif;
}

/*drop down menu*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.season-set {

    background-color: #f8f8f8; 
    color: #777; 
    text-align: center; 
    padding: 12px; 
    text-decoration: none; 
    border: transparent; 
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}

a.subscription {

  font-size: 14px; /*set smaller size for the subscription link*/
}


/*Logo container*/

.img-container {

    height: 50px;
    width: 85px;
    position: relative;
    overflow: hidden;    
}

.img-container > img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
}

/*about us style*/

.center-block {

  margin-left: 10%;
}

h1.white-align-center {

  text-align: center;
  color: white;
}

h1.mbr-bold {

  font-weight: 700;
}

.align-center {
  text-align: center;
}

.mbr-text {

  color: white;
  line-height: 1.6;
}

.card {

  text-align: center;
}
.team {

  margin-bottom: 50px; 
}

hr.style11 {
  height: 6px;
  background: url(http://ibrahimjabbari.com/english/images/hr-11.png) repeat-x 0 0;
    border: 0;
}

div#sub-head {
  text-align: center; /*align center contact text*/
}


.form-horizontal {

  padding: 24px 5px;
  margin-left: 0px;
}

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: -15px;
}

div > input[class="form-control"] {

  width: 280px;
}

div > textarea[class="form-control"] {

  width: 280px;
  height: 200px;

}

h4.mbr-fonts {

  color: white;
}

h4.card-title {
  margin-bottom: 0;
  padding-bottom: 0;
}

div.dev-image {

  width: 150px;
  height: 150px;
  overflow: hidden;

}

.avatar {

    border-radius: 50%;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}



p.title {

  padding-bottom: 5px;
  color: lightblue;
}

.mbr-desc {

  padding: 3px 5px;
  
}



/*footer style*/

div.bottom {

  background-color: #202020;

}

/*footer style*/


a.increase-size{

    font-size: 30px;
    color: white;
}

a.increase-size:hover {

    color: orange;
}

.disclaimer{

    text-align: center;
    color: black;
    background: white;
}

p.disclaim {

    font-size:10px; 
    text-align: center;
}

/*Media query*/


/*desktop*/

@media only screen and (max-width: 1024px) {

div.space-img {

  margin-top: 15px; 
}
  
}


/*tablet*/

@media only screen and (max-width: 800px) {

  div.card {

    margin-bottom: 25px; /*set margin bottom when in mobile view*/
  }
  

}

/*mobile*/

@media only screen and (max-width: 600px) {
  
  div.card {

    margin-bottom: 18px; /*set margin bottom when in mobile view*/
  }

  /*footer*/

  div > p.mbr-txt {

    font-size: 12px; /*set font size for mobile devices*/

  }

  div.mbr-bottom {

    margin-bottom: 30px; /*set margin bottom*/
  }

  p.disclaim {
    font-size: 9px;
    text-align: center;
  }

  /*/footer*/

}

