*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  
    background-color: black;
    color: #fcfcfc;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 20px;
    font-size: 14px;
    overflow-x: hidden;
}


@font-face{
    font-family: "WarnockPro-Light";
    src: url('../css/fonts/WarnockPro-Light.otf'),
 
}

p {

    padding: 0;
    margin: 0;
}

/*Navigation css*/

.navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

.font-inc {

    font-size: 17px; /*override body font size and style*/
    font-family: 'Lato', sans-serif;
}

/*drop down menu*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.season-set {

    background-color: #f8f8f8; 
    color: #777; 
    text-align: center; 
    padding: 12px; 
    text-decoration: none; 
    border: transparent; 
    font-size: 17px;
    font-family: 'Lato', sans-serif;
}

a.subscription {

  font-size: 14px;
}


/*Logo container*/

.img-container {

    height: 50px;
    width: 85px;
    position: relative;
    overflow: hidden;    
}

.img-container > img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
}

/*Image Gallery CSS starts here*/

.pagination a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: orange;
    color: white;
}

.pagination a:hover:not(.active) {color: orange;}

h1.white-align-center {

  text-align: center;
  color: white;
}

h1.mbr-bold {

  font-weight: 700;
}

.space {

  margin-bottom: 20px;
}

.image img {

    height: 204px; /*set same height for the images*/
    width: 100%;
    overflow: hidden;  
}

.image {
    
    margin:0 10px;
    padding: 0;
    border: 2px solid gray;
}

.heading {
    font-size: 15px;
    color: white;

   /* margin-right: 25px;*/
}

p.head {

    padding: 3px 2px;
}

p.rating {

    color: white;
    padding-bottom: 20px;
    font-size: 12px;
}

.checked {
    color: orange;
}

/*hover effect for images*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 17px;
  padding: 10px;
}

.hovereffect:hover h2 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
  transform: translate3d(-50%,-50%,0) scale3d(0.8,0.8,1);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect hr {
  width: 40%;
  opacity: 0;
  filter: alpha(opacity=0);
  border: 1px solid #FFF;
}

.hovereffect  hr:nth-child(3) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,90deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,90deg) scale3d(0,0,1);
}

.hovereffect  hr:nth-child(4) {
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,180deg) scale3d(0,0,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1, 180deg) scale3d(0,0,1);
}

.hovereffect h2, .hovereffect hr {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
}

.set1, .set2 {
  left: 50%;
  position: absolute;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  -webkit-transform-origin: 50%;
  -ms-transform-origin: 50%;
  transform-origin: 50%;
  background-color: transparent;
  margin: 0px;
  padding: 0px;
}

.set1 {
  top: 40%;
}

.set2 {
  top: 60%;
}

.hovereffect p {
  width: 30%;
  text-transform: none;
  font-size: 15px;
  line-height: 2;
}

.hovereffect p a {
  color: #fff;
}

.hovereffect p a:hover,
.hovereffect p a:focus {
  opacity: 0.6;
  filter: alpha(opacity=60);
}

.hovereffect  a i {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  padding: 10px;
  font-size: 20px;
}

.set1 a:first-child i {
  -webkit-transform: translate3d(-60px,-60px,0);
  transform: translate3d(-60px,-60px,0);
}

.set1 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,-60px,0);
  transform: translate3d(60px,-60px,0);
}

.set2 a:first-child i {
  -webkit-transform: translate3d(-60px,60px,0);
  transform: translate3d(-60px,60px,0);
}

.set2 a:nth-child(2) i {
  -webkit-transform: translate3d(60px,60px,0);
  transform: translate3d(60px,60px,0);
}

.hovereffect:hover hr:nth-child(3) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-90deg) scale3d(1,1,1);
}

.hovereffect:hover hr:nth-child(4) {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
  transform: translate3d(-50%,-50%,0) rotate3d(0,0,1,-180deg) scale3d(1,1,1);
}

.hovereffect:hover .set1 i:empty, .hovereffect:hover .set2 i:empty {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
  filter: alpha(opacity=100);
}

/*hover effect*/

/*footer style*/

.graybox { 
padding: 30px 10px;
}

div.bottom {
  background-color: #202020;
}

a.increase-size{
    font-size: 30px;
    color: white;
}

a.increase-size:hover {
    color: orange;
}

.disclaimer{
    text-align: center;
    color: black;
    background: white;
}

p.disclaim {
    font-size:10px; 
    text-align: center;
}


/*Media query*/


/*desktop*/

@media only screen and (max-width: 1024px) {

  .image img {
    height: 166px;
    width: 100%;
    overflow: hidden;
  }
}


/*tablet*/

@media only screen and (max-width: 800px) {
  
  .image img {
    height: 205px;
    width: 100%;
    overflow: hidden;
  }

  div > p.mbr-txt {

    font-size: 13px; /*set font size for mobile devices*/

  }

}

/*mobile*/

@media only screen and (max-width: 600px) {
  
  .image img {
    height: 166px;
    width: 100%;
    overflow: hidden;
  }

   
   /*footer*/ 

  div > p.mbr-txt {

    font-size: 12px; /*set font size for mobile devices*/

  }

  div.mbr-bottom {

    margin-bottom: 30px; /*set margin bottom*/
  }

  p.disclaim {
    font-size: 9px;
    text-align: center;
  }

}

/*iphone 4 tilted*/

@media only screen and (max-width: 480px) and (max-height: 320px) {
  .image img {
    height: 230px;
    width: 100%;
    overflow: hidden;
  }
}

